<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>GURU</title>
        {% endif %}
    </head>
    <body>
        <header>
            <nav>
                <div>
                    <a href="{% url 'processor_create' %}">Add</a>
                </div>
            </nav>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            &copy; GURU {% now "Y" %}. All rights reserved
        </footer>
    </body>
</html>